.product-wrap{
  width: 200px;
  height: 280px;
  border: 1px solid #ddd;
  font-size: 14px;
  position: relative;
  margin: 30px;
  display: inline-block;
  img{
    width: 180px;
    height: 200px;
    margin: 5px 10px;
  }
  p{
    margin: 5px 10px;
    line-height:20px;
  }
  .Product-icon{
    position: absolute;
    top: 240px;
    right:20px;
    background: #fff;
    border: none;
  }
}