.order-wrap{
    width: 98%;
    height: calc(100vh - 150px);
    margin: 20px auto;
    background: #fff;
    .order-table-th {
        width: 80%;
        margin: 0 auto;
        color: #000;
        position: relative;
        top: 20px;
        display: flex;
        flex-wrap:nowrap;
        div{
            width: 20%;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-bottom: 1px solid #ccc;
            background:#eee;

        }

        button{
            width: 100px;
            height: 30px;
            background: #eee;
            color: orangered;
            border:1px solid #ddd;
            border-radius:5px;
            font-size: 14px;
            font-wight:bold;
        }
    }
}