.App{
  width: 100vw;
  height: 70px;
  background: black;
  color: #000;
  .app-nav{
    width: 80%;
    margin: 0 auto;
    .app-a {
      text-align: center;
      display: inline-block;
      line-height: 70px;
      width: 150px;
      height: 70px;
      color: #fff;
      text-decoration: none;
    }
    .app-h{
      background: rgb(24,120,254);
      color: #ffffff;
    }
    .icon{
      margin-right: 5px;
      margin-top: -4px;
    }
  }
}