.add-product-wrap{
  width: 98%;
  height: calc(100vh - 150px);
  margin: 0 auto;
  background: #fff;
  .add-product{
    width: 80%;
    margin: 0 auto;
    p{
      font-size: 24px;
      text-align: center;
      padding: 30px 0;
      font-weight: bold;
    }
    label{
      font-size: 16px;
      margin: 20px 0;
      span{
        color:firebrick;
        font-size:10px;
        font-weight: bold;
        line-height:16px;
      }
    }
    input{
      width: 100%;
      height: 35px;
      margin: 20px 0;
      border-radius: 5px;
      border: 1px solid #ccc;
      text-indent: 10px;
    }
    button{
      width: 200px;
      height: 40px;
      background: rgb(24,120,254);
      border-radius: 5px;
      border: none;
      color: #fff;
      font-size: 14px;
      margin:30px 0;
    }
  }
}