.order-table-th {
  width: 80%;
  margin: 0 auto;
  color: #000;
  position: relative;
  top: 20px;
  display: flex;
  flex-wrap: nowrap;

  span {
    width: 20%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }

  button {
    width: 100px;
    height: 30px;
    background: #eee;
    color: orangered;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    font-wight: bold;
  }
}
